<div class="row">
    <div class="col s12">
        <div class="page-subtitle">
            <h4>Позиции:</h4>
            <button 
                class="waves-effect waves-light btn grey darken-1 btn-small"
                (click)="onAddPosition()"
            >
                Добавить позицию
            </button>
        </div>

        <div *ngIf="!loading; else loader">
            <div class="collection" *ngIf="positions.length !== 0; else empty">
                <a 
                    class="collection-item collection-item-icon"
                    *ngFor="let position of positions"
                    (click)="onSelectPosition(position)"
                >
                    <span>
                        {{position.name}} <strong>{{position.cost}} руб.</strong>
                    </span>
                    <span>
                        <i class="material-icons">delete</i>
                    </span>
                </a>
            </div>
            <ng-template #empty>
                <div class="center">
                    In Category no positions
                </div>
            </ng-template>
        </div>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>


<div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input id="pos-name" type="text" required>
        <label for="pos-name">Название</label>
      </div>
      <div class="input-field">
        <input id="pos-cost" type="text" required>
        <label for="pos-cost">Цена</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">Отмена</button>
      <button class="modal-action btn waves-effect">Сохранить</button>
    </div>
</div>